.nav-link:hover,
.nav-link:hover::before {
  color: #ff66b2 !important;
}

/* Avatar centralizado */
#avatar {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  margin: 1rem auto !important; 
  width: 120px !important; 
  height: 120px  !important;
  border-radius: 50% !important;
  overflow: hidden !important;
}
