@import "main"; // Importa os estilos padrão do tema

//Personalizações abaixo

/* Hover rosa nos links do menu */
.sidebar a:hover,
.sidebar .site-title:hover,
.sidebar .site-subtitle:hover {
  color: #ff66b2;
}

/* Avatar centralizado */
.sidebar-avatar {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

.sidebar-avatar img {
  border-radius: 50%;
  width: 100px;
  height: 100px;
}
